<footer>
  Are we missing something? We're barely Diamond (so almost definitely)?
  But don't just troll. <br>Enlighten us
  <a href="https://github.com/unRARed/rift-tips/issues">here on GitHub</a>
  and then <code>jg diff</code> and <code>trash mid</code> to your heart's
  content.
</footer>
